<div id="<%= dom_id list %>">
  <p>
    <strong>Title:</strong>
    <%= list.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= list.body %>
  </p>

  <p>
    <strong>Pointer:</strong>
    <%= list.pointer %>
  </p>

  <p>
    <strong>Cycle:</strong>
    <%= list.cycle %>
  </p>

  <p>
    <strong>Next trigger at:</strong>
    <%= list.next_trigger_at %>
  </p>

  <div>
      <%= render partial: 'items/item', collection: list.items %>
  </div>

</div>
