<%= turbo_frame_tag @list do %>
  <p style="color: green"><%= notice %></p>

  <%= render @list %>
  <%= turbo_frame_tag "new_list_item_#{@list.id}" %>

  <div>
    <%= link_to "Add a item", new_list_item_path(@list), data: { turbo_frame: "new_list_item_#{@list.id}" } %>
  </div>

  <div>
    <%= link_to "Edit this list", edit_list_path(@list) %> |
    <%= link_to "Back to lists", lists_path %>

    <%= button_to "Destroy this list", @list, method: :delete %>
  </div>
<% end %>
