<%= turbo_frame_tag item do %>
  <%= form_with(model: [item.list, item]) do |form| %>
    <div id="<%= dom_id item %>" class="my-2 p-1 flex w-auto h-10">
      <div class="grow">
        <%= form.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block pl-2" %>
      </div>
      <div class="ml-2">
        <%= button_tag type: "submit" do %>
          <i class="fa-solid fa-check"></i>
        <% end %>
      </div>
    </div>

    <% if item.errors.any? %>
      <div style="color: red">
        <ul>
          <% item.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
<% end %>