<%= turbo_frame_tag item do %>
  <div id="<%= dom_id item %>" class="flex items-center p-2 w-auto h-10 rounded <%= item.position == item.list.pointer ? "bg-slate-600" : "" %>">
    <p class="text-lg <%= item.position == item.list.pointer ? "text-slate-300" : "text-slate-600" %> grow">
      <%= item.name %></p>
    <div class="ml-2">
      <%= link_to edit_item_path(item) do %>
        <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
    </div>
    <div class="ml-2">
      <%= button_to item, method: :delete do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </div>
  </div>
<% end %>
